.text {
    font-size: 2em;
    font-weight: 600;
}

.root {
    margin: 0;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.customTooltip {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1rem;
    border-radius: 0.2rem;
}

.customTooltip p.label {
    text-align: left;
    font-weight: bold;
}

.customTooltip p.content {
    text-align: left;
}
