{
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
