name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.5
    - name: Install Node
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: go test ./...
    - name: Run
      run: go run . 
    - name: Output output.json
      run: cat output/output.json
    - name: Install yarn 
      run: npm i -g yarn  
    - name: Cache node_modules # speed things up significantly
      id: cache-node-modules
      uses: actions/cache@v2
      with:
        path: |
          **/node_modules
        key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
    - name: Install Dependencies
      if: steps.cache-node-modules.outputs.cache-hit != 'true'
      run: |
        cd website
        yarn install            
    - name: Test build website
      run: | 
        cd website
        yarn test
        yarn build
        yarn lint 
        test -f build/index.html